{% extends 'base.html' %}
{% block content %}
</br>
<div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 500px;">
    <div class="parking5">
        <div style="height: auto; width: 100%; border:1px solid blue;"></div>
        <h2>방문 차량 등록하기(방문자 정보)</h2>
    </div>
    차량 번호 입력:<INPUT TYPE="TEXT" NAME="CAR_NUMBER_VISIT" SIZE="20"><br>
    이름:<INPUT TYPE="TEXT" NAME="NAME" SIZE="20"><br>
    전화번호:<INPUT TYPE="TEXT" NAME="PHONE_NUMBER_VISIT" SIZE="20"><br>
    <p style="text-align:center;">
</div>
<div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 500px;">
    <div class="parking6">
        <p style="text-align:center;">
            <h2>방문 주소</h2>
    </div>
    <INPUT TYPE="TEXT" NAME="name" SIZE="20">동
    <INPUT TYPE="TEXT" NAME="name" SIZE="20">호<br><br>
    <input type="submit" value="등록하기"
        style="background-color: rgb(152, 152, 225); rgb(153, 153, 226); border:none;">

    <input type="reset" value="다시 입력하기" style="background-color: rgb(153, 153, 226); border:none;">
    <div style="height: auto; width: 100%; border-bottom:1px solid rgb(18, 18, 200);"></div>
</div>
</br></br>
{% endblock content %}