{% extends 'base.html' %}
{% block content %}
</br>
<div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 500px;">
    <div class="row">
        <div class="parking1">
            <div style="height: auto; width: 100%; border:1px solid blue;"></div>
            <h2>차량 등록하기</h2>
        </div><br>
        차량 번호 입력:<INPUT TYPE="TEXT" NAME="CAR_NUMBER_RESIDENT" SIZE="20"><br>
        휴대폰 번호 입력:<INPUT TYPE="TEXT" NAME="PHONE_NUMBER_RESIDENT" SIZE="20"><br>
    </div>
</div>
<div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 500px;">
    <div class="parking2">
        <div class="col-md-3">
            <h2>주소</h2>
        </div>
        <INPUT TYPE="TEXT" NAME="ADDRESS_VISIT" SIZE="20">동
        <INPUT TYPE="TEXT" NAME="ADDRESS_VISIT" SIZE="20">호

    </div>
</div>
<div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 500px;">
    <div class="parking3">

        <input type="submit" value="등록하기"
            style="background-color: rgb(152, 152, 225); rgb(153, 153, 226); border:none;">
        <input type="reset" value="다시 입력하기" style="background-color: rgb(153, 153, 226); border:none;">

    </div>

    <div class="container" style="background-color:rgb(206, 206, 243); padding:20px; width: 480px;">
        <div class="parking4">
            <h2>내 차량 조회하기</h2>
        </div><br>
        차량 번호:<INPUT TYPE="TEXT" NAME="CAR_NUMBER_RESIDENT" SIZE="20"><br>
        최근 입차시간:<INPUT TYPE="TEXT" NAME="PARKING_ENTRANCE_TIME_RESIDENT" SIZE="20"><br>
        최근 출차시간:<INPUT TYPE="TEXT" NAME="PARKING_EXIT_TIME_RESIDENT" SIZE="20"> <br>
        <div style="height: auto; width: 100%; border-bottom:1px solid blue;"></div>
    </div>
</div>

</br></br>
{% endblock content %}