{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>관리비고지서</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href= "{% static 'css/styles.css' %} rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="row">
            <div class="col-md-12">
                <p>
                <div class="col-md-2 col-md-offset-1"><button type="button" class="btn btn-info btn-lg">리빙</button></div>
                <div class="col-md-3 col-md-offset-1"><button type="button" class="btn btn-info btn-lg">관리비</button></div>
                <div class="col-md-3"><button type="button" class="btn btn-info btn-lg">주차장</button></div>
                <div class="col-md-2"><button type="button" class="btn btn-info btn-lg">공지사항</button></div>
                </p>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        <h2>관리비고지서</h2></div>
        <div class="col-md-8 col-md-push-1">
            <h3> ___동___호 ___고객님</h3>
            <h3>___년___월(___월___일~___월___일)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <h3>납부 예정 금액</h3>
            <h3>납부 마감일 ___월___일</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <h3>납부 상태</h3>
            <h3>당월 부과일</h3>
            <h3>미납액</h3>
            <h3>미납연채료</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-3">
            <button type="button" class="btn btn-primary btn-lg">세부학목 조회하기(세목별 요금란으로 이동할 수 있도록)</button>
        </div>
    </div>
</div>
</body>
</html>