{% extends 'base.html' %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="../../../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="../../../assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../../../assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
{% endblock head %}

{% block content %}
<body>
  <div class="container-fluid py-5">
    <div class="col-12 col-xl-4 col-xxl-3">
      <div class="col-12">
        <div class="card text-white bg-primary ">
          <div class="card-body" style="width: 1000;">
            <div>
              <div class="d-flex justify-content-between">
                <p class="card-title mb-4 text-white">2022년 9월분</p>
              </div>
              <div class="d-flex justify-content-between">
                <h2 class="text-900 fw-semi-bold text-white">223,260원</h2>
              </div>
              <div class="d-flex justify-content-between pt-3">
                <p class="text-900 text-white">납부마감일 10월 31일</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5">
      <div class="col-12 col-xl-4 col-xxl-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body " style="margin-left: 24px; margin-right: 24px;">
              <p class="text-1100 fw-semi-bold">이번 달 관리비</p>
              <div>
                <div class="d-flex justify-content-between">
                  <h2 class="text-900 fw-semi-bold">218,560원</h2>
                  <p class="text-danger fw-semi-bold">전월대비 6,010원 증가했어요.</p>
                  <!-- 전월대비 감소금액은 파랑색으로 표시-->
                </div>
              <hr />
              <div>
                <div class="d-flex justify-content-between">
                  <p class="text-900 fw-semi-bold"><a href = {% url 'billpayment_detail' %}>당월부과액 :</a></p>
                  <p class="text-1100 fw-semi-bold">218,560원</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-900 fw-semi-bold">할인금액 :</p>
                  <p class="text-1100 fw-semi-bold">0원</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-900 fw-semi-bold">미납액 :</p>
                  <p class="text-danger fw-semi-bold">4500원</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-900 fw-semi-bold">미납연체료:</p>
                  <p class="text-1100 fw-semi-bold">200원</p>
                </div>
              </div>
              <div class="d-flex justify-content-between border-top border-dashed pt-4">
                <h4 class="mb-0">Total :</h4>
                <h4 class="mb-0">223,260원</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>

{% endblock content %}