{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <h2>관리비고지서</h2></div>
        <div class="col-md-8 col-md-push-1">
            <h3> ___동___호 ___고객님</h3>
            <h3>___년___월(___월___일~___월___일)</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <h3>납부 예정 금액</h3>
            <h3>납부 마감일 ___월___일</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-4">
            <h3>납부 상태</h3>
            <h3>당월 부과일</h3>
            <h3>미납액</h3>
            <h3>미납연채료</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-3">
            <form action = {% url 'billpayment_detail' %}>
                <button class="btn btn-primary btn-lg" type = "submit">
                    세부항목 조회하기
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}