{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
         <div class="col-md-6  ">
            <div class="table-responsive">
                <table class="table table table-hover table table-striped table-bordered">
                    <tr >
                        <th>상세내역</th>
                        <th>요금(원)</th>
                    {% for data in data %}
                        <tr >
                            <th>{{data.0}}</th>
                            <th>{{data.1}}</th>
                    {% endfor %}
                    <tr >
                        <th>총액</th>
                        <th>{{datatotal}}</th>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}