<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>세부학목</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="row">
            <div class="col-md-12">
                <p>
                <div class="col-md-2 col-md-offset-1"><button type="button" class="btn btn-info btn-lg">리빙</button></div>
                <div class="col-md-3 col-md-offset-1"><button type="button" class="btn btn-info btn-lg">관리비</button></div>
                <div class="col-md-3"><button type="button" class="btn btn-info btn-lg">주차장</button></div>
                <div class="col-md-2"><button type="button" class="btn btn-info btn-lg">공지사항</button></div>
                </p>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
         <div class="col-md-3 col-md-push-1">
            <h2>세목별요금:</h2></div>
         <div class="col-md-6  ">
            <div class="table-responsive">
                <table class="table table table-hover table table-striped table-bordered">
                    <tr >
                        <th>상세내역</th>
                        <th>요금(원)</th>

                    <tr >
                        <th>일반관리비</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>청소비</th>
                    <th></th>

                    </tr>
                    <tr >
                        <th>소독비</th>
                        <th></th>

                    <tr >
                        <th>승강기유지비</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>경비비</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>화재보험료</th>
                        <th></th>
                    </tr>
                    <tr >
                        <th>위탁관리수수료</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>세대전기료</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>공동전기료</th>
                        <th></th>
                    </tr>
                    <tr >
                        <th>TV수신료</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>난방사용료</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>세대수도세</th>
                        <th></th>
                    </tr>
                    <tr >
                        <th>공동수도세</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>비고</th>
                        <th></th>

                    </tr>
                    <tr >
                        <th>수선유지비</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>