{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link href="{% static 'css/main_index.css' %}" rel= "stylesheet">
</head>
<body>
    <h1><a href="/main">리빙</a></h1>
    {% if islogin %}
        <a href = "/mypage/">{{user_name}}님</a>
        <form method = "post" name = '/logout' action = {% url 'logout' %}>
            {% csrf_token %}
            <button type = submit>로그아웃</button>
        </form>
    {% else %}
        <a href = "/login/"> 로그인 </a>
    {% endif %}
    <table>
        
    </table>
    <!--
        <a href = "/notice/">공지사항</a>
        <a href = "/community/">커뮤니티</a>
        <a href = "/parking/">주차장</a>
        <a href = "/bill/">관리비 확인/결제</a>
    -->
</body>
</html>